body {
	background: url('../images/background-modo-meu.png') repeat;
	font-family: 'Dosis', sans-serif;
	color: #9e9e9e;
}

h2,h3 { font-family: 'Dosis', sans-serif; }
h2 { color: #12aec0; }
h3 { color: #3a4192; }

.main-content .header { margin: 0 auto; width: auto; }
.main-content .header h1 { text-indent: -9999px; }
.main-content .header .logo-top { 
	margin: 0 auto; 
	background: url('../images/Modo_Meu_preimiacoes.png') no-repeat top center;
	width: 300px;
	height: 119px;
	display: block;	
}

.main-content .container {
	width: 90%;
}

label { word-wrap: break-word; }
.wrappable { white-space:normal; }

.content {
	width: 90%;
	margin: 0 auto;
	padding: 2% 1%;
	background: rgba(255, 255, 255, 0.95);
}

.main-content .page-footer { 
	background: #3a4192;	    
}

.main-content .page-footer .logos-footer { margin-top: 20px; }

/* Modelo para template de e-mail */
.template-view h2 { font-size: 20pt; }
.template-view h3 { font-size: 18pt; }
.template-view p { 
	font-family: 'Dosis', sans-serif;
	font-size: 14pt;
    color: #898989;    
    margin: 0;  
}

/* Modelo para template de alertas e mensagens */
.alert {
	color: #cc0000;
	font-weight: bold;
}

.content .row .alert ul {
	width: 100%;
}

.alert ul li {
	list-style-type: circle;
    text-align: center;
    list-style-position: inside;
}

#indicados .style-font{	
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	text-align: center;
}

.vencedor-blog {
	color: #3a4192;
}

/*customizations - materialize*/
.btn, .btn-large { background-color: #12aec0; }
.input-field .prefix.active { color: #12aec0; }